body {
    background-color: #e6f0ff; /* vaaleansininen tausta */
    font-family: 'Segoe UI', sans-serif;
    color: #001f3f; /* tumma sininen teksti */
    padding: 30px;
}

h2 {
    color: #002b80;
    border-bottom: 2px solid #002b80;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

form {
    background-color: white;
    border: 2px solid #004080;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #99ccff;
    max-width: 400px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #004080;
}

button {
    background-color: #004080;
    color: white;
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #00264d;
}

.onnistui {
    background-color: #e6f0ff;
    border: 2px solid #004080;
    color: #002b80;
    padding: 15px;
    border-radius: 10px;
    font-family: Segoe UI, sans-serif;
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}

.epaonnistui {
    background-color: #ffe6e6;
    border: 2px solid #800000;
    color: #660000;
    padding: 15px;
    border-radius: 10px;
    font-family: Segoe UI, sans-serif;
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}
